@import "../../styles/colors.scss";

$btn-hover: #3022C8;

.Button {
  width: 100%;
  text-align: center;
  padding: 17px 20px 16px 20px;
  font-size: 16px;
}

.ButtonPrimary {
  @extend .Button;
  background-color: $main-blue;
  border: none;
  color: $font-white;

  &:hover {
    background-color: $btn-hover;
  }
}

.ButtonSecondary {
  @extend .Button;
  background-color: transparent;
  border: 1px solid $main-blue;
  color: $main-blue;

  &:hover {
    background-color: $btn-hover;
    color: $font-white;
  }
}