.ArticlesListPage {
  padding: 80px 53px;
}

.AritclesListPageTitle {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 70px;
  margin-top: 0px;
}

.ArticlesListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}