.ArticleListItem {
  width: 30%;
}

.ArticleImage {
  margin-bottom: 20px;
  max-height: 212px;
  width: auto;
}

.ArticleMeta {
  font-size: 14px;
  color: #606060;

  >span {
    margin-right: 16px;
  }
}

.ArticleSource {
  color: #493BE1;
}

.ArticleTitle {
  font-size: 24px;
  margin-bottom: 17px;
  margin-top: 9px;
}

.ArticleDescription {
  font-size: 17px;
  text-align: justify;
}